{
  "env": {
    "browser": false,
    "node": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
    "no-sparse-arrays": "off",
    "no-nested-ternary": "off",
    "newline-per-chained-call": "off",
    "import/order": "off"
  }
}
